$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1920;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 719.98;
$md4: 479.98;
$mainColor: #3a3a3a;

@mixin adaptive-value($property,$startSize,$minSize,$needWidth,$type){
   $addSize : $startSize - $minSize;
   @if $type == 1 {
      //Только если меньше контейнера
      #{$property} : $startSize + px;
      @media(max-width: #{$maxWidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidthContainer - 320}));
      }
   } @else if $type == 2 {
      //Только если больше контейнера
      #{$property} : $startSize + px;
      @media(min-width: #{$maxWidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidth - 320}));
      }
   } @else {
      //Всгда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidth - 320}));
   }
}
.header-logo{
    @include adaptive-value("width", 200,150,320,1);
    @include adaptive-value("height", 50,35,320,1);
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-logo a{
   display: block;
   width: 100%;
   height: 100%;
}